{% extends 'base.html.twig' %}

{% block title %}SymRecipe - mes ingredients{% endblock %}

{% block body %}
<div class='container mt-4'>
{% for message in app.flashes('success') %}
<div class='alert alert-success'>
    {{ message }}
</div>
{% endfor %}

<h4>Mes inredients</h4>


<a href="{{ path('new_ingredient') }}" class="btn btn-primary"> 
  créer un ingredient
 </a>  <br> 

<table class="table table-hover">
il y a {{ ingredients.getTotalItemCount }} ingredients 
  <thead>
    <tr>
      <th scope="col">Numéro</th>
      <th scope="col">Nom</th>
      <th scope="col">Prix</th>
      <th scope="col">Date de creation</th>
    </tr>
  </thead>
  <tbody>

    
   
    {%  for ingredient in ingredients %}
    <tr class="table-primary">
      <td>{{ ingredient.id }}</td>
      <td>{{ ingredient.name }}</td>
      <td>{{ ingredient.price }}</td>
      <td>{{ ingredient.creatdAt | date('d/m/Y') }}</td>
      
    </tr>
{% endfor %}
    
  </tbody>
</table>
{# display navigation #}
<div class="navigation d-flex justify-content-center">
    {{ knp_pagination_render(ingredients) }}
</div>
</div>
{% endblock %}
