{% extends 'base.html.twig' %}

{% block title %}SymRecipe - mes ingredients{% endblock %}

{% block body %}
<div class='container mt-4'> 
    <h4>Mes inredients</h4>

        {{ form_start(form) }}

        <div class='form_group'>
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
            <div class='form_error'>
                {{ form_errors(form.name) }}
            </div>
        <div>
        
            <div class='form_group'>
            {{ form_label(form.price) }}
            {{ form_widget(form.price) }}
            <div class='form_error'>
                {{ form_errors(form.price) }}
            </div>
        <div>

            <div class='form_group'>
            {{ form_row(form.submit) }}
        <div>
            {{ form_end(form) }}

</div>
{% endblock %}
